:ruby
  require 'json'
  host = "http://localhost:3001"
  hose = "http://http://api.test1.appb.ch/" if `whoami`.chomp == "www"

  require_relative '../../bigchain-rb/bigchain'
  B = Bigchain.new

  # TODO: move into bigchain-rb
  require 'rethinkdb'
  require_relative '../../api/lib/rethink'
  DB = Rethink.new

  require_relative '../lib/ui'
  extend UILib

  block = DB.blocks_last
  if block
    tx = block.block.transactions.last
    tx_payload = tx.transaction.data.payload
  end
!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %title Bigchain UI
    %link{ charset: "utf-8",  href: "./css/vendor/milligram.css",  media: "screen",  rel: "stylesheet" }/
    %link{ charset: "utf-8",  href: "./css/nav.css",  media: "screen",  rel: "stylesheet" }/
    %link{ charset: "utf-8",  href: "./css/style.css",  media: "screen",  rel: "stylesheet" }/
  %body
    .wrapper
      %nav.navigation
        .container
          %a.navigation-title{ href: "/" }
            BigchainUI
          %ul.navigation-list.float-right
            /
              <li class="navigation-item">
              <a class="navigation-link">Docs</a>
              </li>
              <li class="navigation-item">
              <a class="navigation-link">Support</a>
              </li>
      .container
        %h5 Blocks:
        %h6
          %a{ href: "#{host}/blocks/last" } Latest block
        %h6
          %a{ href: "#{host}/blocks" } Blocks

        %h5 Main keys:
        %h6 Public key:
        - key_label B.key_pub
        %h6 Private key:
        %button{ onclick: toggler("pvt") } Reveal &nbsp; 🔑
        %div.hidden.toggle_pvt
          - key_label B.key_pvt

        %h5 User keys:
        %form{ action: "#{host}/keys",  method: "post" }
          %input{ type: "submit", value: "Generate 🔑" }

        %h5 Create admin asset:
        - asset = '{"amount":1000,"date":"2016-01-01","id":1,"type":"asset"}'
        %input{ type: "text", disabled: true, value: asset }

        %form{ action: "#{host}/assets/admin",  method: "post" }
          %input{ type: "submit", value: "Create asset" }

        - if block
          %h6 Last Block:
          %p= block.id

          %h5 Edit last asset:
          %p
            %strong TX ID:
            %span= tx.id
          %form{ action: "#{host}/assets/#{tx.id}/admin",  method: "post" }
            %textarea{ name: "data" }= tx_payload.to_json
            %input{ type: "submit", value: "Edit" }


    %script{ src: "./js/index.js", type: "text/javascript" }
